.top {
width:100%;
height:5px;
}

.free-est {
  font-family: "Inconsolata", sans-serif;
  overflow:hidden;
  font-size: 40px;
  position:fixed;
  top:0;
  right:10vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  z-index: 7;
  cursor:pointer;
}

.open-free-est {
  width: 40vw;
  height: 20vh;
  right:10vw;
}

.fold-free-est {
  width:240px;
  height:160px;
  right:5vw;
}

.free-est-logo {
  width:240px;
  height:160px;
  background-image: url('./pictures/free-est.png');
  
}

.free-est-logo-scroll {
  width:240px;
  height:160px;
  position: relative;
  animation: skew-y-shake 7s infinite ease-in-out;
}

.fancy-text {
  text-decoration: underline;
  text-decoration-color: red;
}

.free-est-logo-scroll::after {
  content: "";
  background-image: url('./pictures/free-est.png');
  background-repeat: no-repeat;
  opacity: 0.5;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  z-index: -1;
}

@keyframes skew-y-shake {
  0% { transform: skewY(-15deg); }
  2% { transform: skewY(15deg); }
  4% { transform: skewY(-15deg); }
  6% { transform: skewY(15deg); }
  8% { transform: skewY(0deg); }
  10% { transform: skewY(0deg); }
  12% { transform: skewY(-15deg); }
  14% { transform: skewY(15deg); }
  16% { transform: skewY(-15deg); }
  18% { transform: skewY(15deg); }
  20% { transform: skewY(0deg); }
  22% { transform: skewY(0deg); }  
}

.disable-element {
  display:none;
}

.grey {
    background-color: rgb(240, 240, 240);
}
.about_section {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.about_us {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.mission {
    width:60vw;
    height:110vh;
    /* border: 1px solid #333333; */
    margin-left:60px;
    margin-top: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-family: "Caveat", sans-serif;
    font-size: 40px;
}

.mission > div {
    width:90%;
    height:auto;
    text-align: left;
    margin-bottom: 15px;
}

.about_the_operators {
    width:30vw;
    height:110vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

.the_team {
    font-size: 36px;
    text-align: center;
}

.owner_profile {
    background-image: url('./pictures/missing_person.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    height:30vh;
    width:30vh;
    border:0px solid #333333;
    border-radius: 50%;
    margin-right:15px;
    transition: all .3s ease-in-out;
}

.owner_profile:hover {
    background-image: none;
    border-radius: 0;
    height: 40vh;
    border:2px solid #333333;
}

.owner_profile_container {
    width:40vw;
    height:40vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.bullets {
    width: 40vw;
    height:80vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    margin-left: 10px; 
    margin-top:20vh;   
}

.bullet-point {
    width: 30vw;
    height: 15%;
    font-family: "Inconsolata", sans-serif;
    text-align: left;
    font-size: 20px;
    display:flex;
    flex-direction: column;
}
.bullet-point > div {
  height:100%;
  width:40vw;
}
.bullet-image-container {
  height:48px;
  width:48px;
  background-image: url('./pictures/paint-roller-2.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right:15px;
}
.bullet-title {
  width:40vw;
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items:flex-end;
  color:red;
  font-size:35px;
}

.painted {
  position:relative;
  color: white;
  -webkit-text-stroke: 0.3vw #333333;
  text-transform: uppercase;
}

.painted::before {
  content: attr(data-text);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:red;
  -webkit-text-stroke: 0vw #333333;
  border-right: 2px solid red;
  overflow:hidden;
  animation: paint 6s linear infinite;
}

@keyframes paint {
  0%
  {
    width: 0;
  }
  70%
  {
    width: 100%;
  }
}

.bullet-words {
  width:40vw;
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items:flex-start;
  font-weight: bold;
}

.bullet-spacer {
  width:48px;
  margin-right:60px;
}

.reviews {
    width:85vw;
    height:35vh;
    display:block;
    margin-bottom: 15px;
    overflow:hidden;  
    position: relative;  
}

.reviews::after {
  content: "";
  background-image: url('./pictures/OIP.jpeg');
  background-repeat: no-repeat;
  background-size:85vw 50vh;
  opacity: 0.5;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  z-index: -1;
}

.scroll-parent {
    position: relative;
    width: 240vw;
    height: 100%;
    overflow-x: hidden;
  }

  .scroll-parent:hover > .scroll-element{
    animation-play-state: paused;
  }

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 120s linear infinite;
  font-weight: bolder;
}

.primary {
    animation: primary 120s linear infinite;
    display: flex;
    flex-direction: row;
}

.secondary {
    animation: secondary 120s linear infinite;
    display:flex;
    flex-direction: row;
}


  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }

.single_review {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.review_name {
    width: 30vw;
    height: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
}

.review_score {
    width:156px;
    height:29px;
    background-image: url('./pictures/rating.png');
    margin-bottom: 15px;
}

.review_content_angi {
    width:30vw;
    text-align: left;
    cursor: pointer;
}

.services_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection-page {
  height:100vh;
  right: 0;
  position: absolute;
  z-index: 5;
  /* border:3px solid #333333; */
  background-color: white;
  transition: all 1s ease;
  display:flex;
  flex-direction:column;
  justify-content: left;
  text-align: left;
  font-size: 28px;
  overflow: scroll;
  padding-left: 10px;
}

.out-of-view {
  width: 0px;
}

.into-view {
  width:95vw;
}

.selection-page-top-bar {
  padding:10px;
  position: sticky;
  top:0px;
}

.close-more-details {
  width:50px;
  height:50px;
  cursor: pointer;
  font-weight: bolder;
  background-image: url('./pictures/arrow-black.png');
  background-position: center;
  background-repeat: no-repeat;
}

.close-more-details:hover {
  background-image: url('./pictures/arrow-red.png');
}

.flip_card_row {
    width:85%;
    height:40%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left:20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;  
    transform: rotateY(180deg);
    border:1px solid black;
    padding:3px;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #333333;
    cursor:pointer;
  } 

  .flip-card-back > div {
    width:90%;
    height:auto;
    text-align: left;
    color: white;
    border: 1px solid #333333;
}

  .exterior {
      background-image: url('./pictures/house2.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color:white;
      font-size: 24px;
      font-weight:bold;
      display:flex;
      justify-content: center;
      align-items: flex-end;
  }

  .translucent {
      background-color: rgba(0, 0, 0, 0.568)
    }

  .pictures_section {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }

  .contact_section {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }

.contact_info {
    width:40vw;
    height:75%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.request_quote {
    width:45vw;
    height:75vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.info {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.info-split {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.info_title {
    font-size: 24px;
}

.info_body {

}

.map {
    width:40vw;
    height:60vh;
    border: 1px solid black;
    background-image: url(pictures/map.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.request_blurb {
    width:70%;
}

.request_form {
    width:100%;
    height:70%;
    font-size:18px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
    .request_form > div{
        width:75%;
        height:20%;
        text-align: left;
    }

.quote_input_box{
    width:100%;
    height:25px;
}

.text_input_quote {
    resize: none;
    width:100%;
    height:100px;
}

.submit_button {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.details-title {
  width:90%;
  font-size: 50px;
  font-weight: bolder;
  background-color: white;
  text-align:left;
  margin-left:10px;
}

.service-details-container {
  /* display:flex;
  flex-direction: column;
  text-align: left; */
  background-color: white;
  height: 100%;
  width:90%;
  margin-left:10px;
  margin-bottom:10px;
}

.wrapper {
  
}

.left-hold {
  float: left;
  width: 50%;
  margin: 0 10px 10px 0;
  border: 3px solid #333333;
}

.details-bullet-points {
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  text-align: left;
  padding: 7px;
  font-family: "Inconsolata", sans-serif;
}

.details-body {
  text-align: left;
  background-color: white;
  font-size: 24px;
}

@media only screen and (max-width: 640px){
  .website_container {
    width: 0px;
    height:0px;
    overflow: hidden;
  }

  .menu {
    width: 0px;
    height:0px;
    overflow: hidden;
  }
}